<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @employee.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @employee.lastName %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @employee.job_title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Race:</strong>
  <%= @employee.race %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @employee.sex %>
</p>

<p>
  <strong>Credit card:</strong>
  <%= @employee.credit_card %>
</p>

<p>
  <strong>Height:</strong>
  <%= @employee.height %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @employee.marital_status %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @employee.startDate %>
</p>

<p>
  <strong>License:</strong>
  <%= @employee.license %>
</p>

<p>
  <strong>Lunchspot:</strong>
  <%= @employee.lunchSpot %>
</p>

<p>
  <strong>Employeebenft:</strong>
  <%= @employee.employeeBenft %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @employee.vehicle %>
</p>

<p>
  <strong>Vyear:</strong>
  <%= @employee.vyear %>
</p>

<p>
  <strong>Vmake:</strong>
  <%= @employee.vmake %>
</p>

<p>
  <strong>Vmodel:</strong>
  <%= @employee.vmodel %>
</p>

<p>
  <strong>Vcardescr:</strong>
  <%= @employee.vcarDescr %>
</p>

<p>
  <strong>Vplate:</strong>
  <%= @employee.vPlate %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @employee.photo %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
